/****************/
/* Font Imports */
/****************/

@font-face {
  font-family: Avenir;
  src: url(../fonts/avenir.otf) format('opentype');
  src: url(../fonts/avenir.woff) format('woff');
}


/***************/
/* Scaffolding */
/***************/

html, body {
  position: relative;
  width: 100%;
  height: 100% !important;
  font-family: 'Avenir', sans-serif;
}


/************************/
/* Provided CSS Styling */
/************************/

section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #8C1515;
  color: white;
}

.navbar {
  display: none;
  padding: 5px;
}
/* .navbar-nav > li > a {
  font-size: 18px;
  line-height: 100%;
  margin: 1px auto;
} */
/* .navbar-toggle {
  padding: 10px;
  margin: 7px 10px;
  line-height: 100%;
} */
.navbar .navbar-brand {
  font-weight: bold;
  color: #777;
  padding: 0;
  /* margin-left: 0px; */
  /* padding: 16px 0px; */
  /* line-height: 100%; */
} 
.navbar img {
  /* width="30" height="30" class="d-inline-block align-top"*/
  width: 40px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  /* border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  border-color: #777; */
  /* max-height: 50px; */
  /* padding: 5px; */
}

body, html {
  height: 100%;
}


/* .bg {
  background: url('../res/img/stanford-background.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 100%;
  transform: translateY(-12%) translateX(0px);
  top:0;
  left:0;
  z-index: -1;
} */

.parallax {
  background-image: url("../res/img/stanford-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: -395px;
  /* background-position-y: -420px; */
  /* background-size: cover; */
  /* background-position-y: -180px; */
}

.jumbotron {
  /* background:transparent; */
  margin: 0;
  /* padding: 20px 0; */
  text-shadow: black 1px 1px 1px;
  text-align: center;
  border-width: 0px 0px 7px 0px;
  border-style: solid;
  border-color: #4D4F53;
}
.jumbotron img {
  max-height: 415px;
  margin-bottom: 15px;
}
.imageBordered {
  border: 7px;
  border-style: solid;
  border-color: #DAD7CB;
  border-radius: 50%;
}
.jumbotron .jumbo-name {
  font-size: 70px;
  color: #8C1515;
  text-shadow:
   -1px -1px 0 white,
    1px -1px 0 white,
   -1px  1px 0 white,
    1px  1px 0 white,
    2px  2px 1px black;
}
.jumbotron ul {
  padding-left: 0;
}
.jumbotron ul li {
  display: inline;
  margin: 0 20px;
}
.jumbotron ul li a {
  display: inline;
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.jumbotron ul li a:hover {
  color: #B3995D;
}
.jumbotron a {
  display: block;
  color: white;
  text-shadow: black 1px 1px 1px;
  font-size: 20px;
  border-radius: 10px;
  margin: 0 auto;
  text-decoration: none;
}
.jumbotron a:hover, a:active, a:visited {
  text-decoration: none;
}
.jumbotron .resume {
  background-color: #B6B1A9;
  width: 100px;
  margin-bottom: 10px;
}
.jumbotron .learnMore {
  background-color: #DAD7CB;
  width: 230px;
}

#about img {
  display: block;
  margin: 0 auto 0 auto;
  max-height: 270px;
}

.sectionTitle {
  font-size: 60px;
}

.description {
  font-size: 22px;
}

.w80 {
  width: 80%;
}

.smShow {
  display: none;
}

@media (max-width: 767px) {
  .parallax {
    background-attachment: scroll;
  }
  .smCentered {
    text-align: center;
    margin-top: 20px;
  }
  .sm100 {
    width: 100%;
  }
  .smShow {
    display: block;
  }
}

.inbetween {
  background: -webkit-linear-gradient(#D2C295, #F4E4B7);
  background-color: #D2C295;
  border-width: 7px 0px;
  border-style: solid;
  border-color: #4D5357;
  color: #4D5357;
}

.blockquote {
  border-right: 5px solid #aaa;
  padding-right: 15px;
  margin-bottom: 0px;
}
.blockquote p {
  font-size: 22px;
}
.blockquote .quoter {
  margin-bottom: 0px;
}
.blockquote p i {
  color: #aaa;
  margin-right: 5px;
}

#expertise a {
  color: #D2C295;
}

.eduItem {
  padding-top: 15px;
}

.expItem {
  padding-top: 15px;
}

.hrAfter {
  border-color: #7B0000;
}

.imgLogo {
  display: block;
  border-radius: 3%;
  margin: 0 auto 20px auto;
  padding: 5%;
  max-height: 200px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.uniTitle {
  font-weight: bold;
  font-size: 17px;
}
.uniDescription {
  font-size: 14px;
}

.companyTitle {
  font-weight: bold;
  font-size: 17px;
}
.companyDescription {
  font-size: 14px;
}

#footer p {
  font-size: 22px;
}
#footer ul {
  margin: 0;
  padding: 0;
  font-size: 30px;
}
#footer ul li {
  display: inline;
  margin: 0 20px;
}
#footer ul li a {
  color: white;
}
#footer ul li a:hover {
  color: #B3995D;
}

/*********************************/
/* Insert Custom/New CSS Styling */
/*********************************/

