/****************/
/* Font Imports */
/****************/

@font-face {
  font-family: Avenir;
  src: url(../fonts/avenir.otf) format('opentype');
  src: url(../fonts/avenir.woff) format('woff');
}


/***************/
/* Scaffolding */
/***************/

html, body {
  position: relative;
  width: 100%;
  height: 100% !important;
  font-family: 'Avenir', sans-serif;
}


/************************/
/* Provided CSS Styling */
/************************/

section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #8C1515;
  color: white;
}

.navbar-default {
  display: none;
}
.navbar-nav {
  font-size: 18px;
}
.navbar-toggle {
  margin: 5px 10px;
}
.navbar>.container .navbar-brand {
  margin-left: 0px;
  padding: 15px 0px;
  font-weight: bold;
}
.navbar-default img {
  max-height: 50px;
  padding: 5px;
  margin-right: 10px;
}

body, html {
  height: 100%;
}


.bg {
  background: url('../res/img/stanford-background.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 100%;
  transform: translateY(-12%) translateX(0px);
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  margin: 0;
  text-shadow: black 1px 1px 1px;
  background:transparent;
  text-align: center;
  border-width: 0px 0px 7px 0px;
  border-style: solid;
  border-color: #4D4F53;
}
.jumbotron img {
  margin: 0 auto 0 auto;
  max-height: 400px;
  border: 7px;
  border-style: solid;
  border-color: #DAD7CB;
  border-radius: 50%;
  margin-bottom: 15px;
}
.jumbotron .jumbo-name {
  font-size: 70px;
  color: #8C1515;
  text-shadow:
   -1px -1px 0 white,
    1px -1px 0 white,
   -1px  1px 0 white,
    1px  1px 0 white,
    2px  2px 1px black;
}
.jumbotron ul {
  display: block;
  padding: 0;
  font-size: 20px;
}
.jumbotron ul li {
  display: inline;
  margin: 0 20px;
}
.jumbotron ul li a {
  display: inline;
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.jumbotron ul li a:hover {
  color: #B3995D;
  text-decoration: none;
}
.jumbotron a {
  display: block;
  color: white;
  text-shadow: black 1px 1px 1px;
  font-size: 20px;
  border-radius: 10px;
  margin: 0 auto;
  text-decoration: none;
}
.jumbotron a:hover, a:active, a:visited {
  text-decoration: none;
}
.jumbotron .resume {
  background-color: #B6B1A9;
  width: 100px;
  margin-bottom: 10px;
}
.jumbotron .learn-more {
  background-color: #DAD7CB;
  width: 240px;
}

.image-bordered {
  border: 7px;
  border-style: solid;
  border-color: #DAD7CB;
  border-radius: 50%;
}

.sectionTitle {
  font-size: 60px;
  margin-top: 0;
}

.centered {
  text-align: center;
}

.description {
  font-size: 22px;
}

.mdCentered75 {
  margin: auto;
  width: 75%;
}

.smShow {
  display: none;
}

@media (max-width: 767px) {
  .smCentered {
    text-align: center;
    margin-top: 20px;
  }
  .sm100 {
    width: 100%;
  }
  .smShow {
    display: inline-block;
  }
}

.inbetween {
  background: -webkit-linear-gradient(#D2C295, #F4E4B7);
  background-color: #D2C295;
  border-width: 7px 0px;
  border-style: solid;
  border-color: #4D5357;
  color: #4D5357;
}

.blockquote-reverse {
  border-color: #aaa;
  margin: 0 auto;
}
.blockquote-reverse p {
  font-size: 22px;
}
.blockquote-reverse p i {
  color: #aaa;
  margin-right: 5px;
}

#expertise a {
  color: #D2C295;
}

.eduItem {
  padding-top: 15px;
  padding-bottom: 15px;
}

.expItem {
  padding-top: 15px;
  padding-bottom: 15px;
}

.imgLogo {
  border-radius: 3%;
  margin: auto;
  padding: 5%;
  max-height: 200px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.uniTitle {
  font-weight: bold;
  font-size: 17px;
}

.companyTitle {
  font-weight: bold;
  font-size: 17px;
}

#footer {
  text-align: center;
}
#footer p {
  font-size: 22px;
}
#footer ul {
  margin: 0;
  padding: 0;
  font-size: 30px;
}
#footer ul li {
  display: inline;
  margin: 0 20px;
}
#footer ul li a {
  color: white;
}
#footer ul li a:hover {
  color: #B3995D;
}

/*********************************/
/* Insert Custom/New CSS Styling */
/*********************************/

